.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .pokedex-logo {
    width: 400px;
    height: auto;
    flex-grow: 1;
  }
  
  .bgc-logo {
    width: 200px;
    height: auto;
  }

  .navbar-favorites {
        font-weight: bold;
        margin-left: 5rm;
  }
